

h1 {
   background-color:rgba(134, 27, 27, 0.486);  
   
   margin-left: 600px;
   margin-right: 600px;
   color: aqua;
   text-align: center;
   text-decoration: double;
   border: 0;
   border-radius: 25px;
   font-size: 200px;
   
}

